@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  [data-theme="light"] :root {
    --background: #ffffff;
    --foreground: #000;
    -webkit-text-fill-color:var(--foreground);
  }

}
/* 
@media (prefers-color-scheme: dark) { */
  @layer base{
    [data-theme="dark"] :root {
      --background: #000;
      --foreground: #fff;
      -webkit-text-fill-color:var(--foreground);
    }
  }
/* } */

