@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background: #ffffff;
    --foreground: #000;
}



@media (prefers-color-scheme: dark) { 
    :root {
      --background: #000;
      --foreground: #fff;
    }
  
 }

html{
  color:var(--foreground);
  background: var(--background);
}