@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background: #ffffff;
    --foreground: #000;
    --shadowColor08:rgba(19, 25, 39, 0.08);
    --shadowColor1:rgba(19, 25, 39, 0.1);
    --shadowColor12:rgba(19, 25, 39, 0.12);
    --shadowColor14:rgba(19, 25, 39, 0.14);
    --font-title: var(--font-darker-grotesque);
  --font-body: var(--font-work-sans);
}



@media (prefers-color-scheme: dark) { 
    :root {
      --background: #000;
      --foreground: #fff;
      --font-title: var(--font-darker-grotesque);
      --font-body: var(--font-work-sans);
      --shadowColor08:rgba(158, 162, 174, 0.08);
    --shadowColor1:rgba(158, 162, 174, 0.1);
    --shadowColor12:rgba(158, 162, 174, 0.12);
    --shadowColor14:rgba(158, 162, 174, 0.14);
    }
  
 }

html{
  body{
    padding: 8px 8px 8px 8px;
  }
  p,div,input,label{
    font-family: var(--font-work-sans);
  }
  h1,h2,h3,h4,h5,h6{
    font-family: var(--font-darker-grotesque);
  }
  color:var(--foreground);
  background: var(--background);
  /* asdasd */
  .ProseMirror .column-block {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 24px;
    padding: 8px 0;
  }
  
  .ProseMirror .column {
    overflow: hidden;
    padding: 8px;
    margin: -8px;
  }
  
  .ProseMirror-focused .column {
    border: 1px gray dashed;
    border-radius: 8px;
  }
  /* sdad */
  .tiptap {
    :first-child {
      margin-top: 0;
    }
  
    /* Heading styles */
    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6 {
      line-height: 0.8;
      margin-top: 0.5rem;
      text-wrap: pretty;
    }
  
    h1 { 
      font-size: 1.4rem; 
    }
  
    h2 { 
      font-size: 1.2rem; 
    }
  
    h3 { 
      font-size: 1.1rem; 
    }
  
    h4, 
    h5, 
    h6 { 
      font-size: 1rem; 
    }
  }
 
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.slide-in {
  animation: slideIn 0.4s ease-in-out forwards;
}

.slide-out {
  animation: slideOut 0.4s ease-in-out forwards;
}
